requests==2.26.0
asyncpraw==7.5.0
motor==2.5.1
DateTime==4.3
git+https://github.com/Pycord-Development/pycord
lavalink==3.1.5
git+https://github.com/DevInfinix/pycord-ext-menus
aiohttp
dnspython
git+https://github.com/Gorialis/jishaku
PyNaCl
ffmpeg
pillow==9.0.0