requests==2.27.1
asyncpraw==7.5.0
motor==2.5.1
DateTime==4.4
lavalink==3.1.5
git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/oliver-ni/discord-ext-menus-views
aiohttp==3.8.1
dnspython==2.2.1
git+https://github.com/Gorialis/jishaku
PyNaCl==1.5.0
ffmpeg==1.4
pillow==9.0.1