asyncpraw==7.5.0
motor==3.0.0
DateTime==4.4
git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
googletrans==4.0.0rc1
aiohttp==3.8.1
dnspython==2.2.1
git+https://github.com/Gorialis/jishaku
PyNaCl==1.5.0
pillow==9.1.1
statcord.py==3.1.0